.table_title {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.maindiv {
    background-color: dimgrey;
    padding: 10px;
}

.title {
    margin-left: 10px;
}

.maintable {
    background-color: lightgray;
    padding-right: 5px;

}

.gender {
    margin-right: -3px;
}

.genderlabel {
    margin-right: 30px;
}

.grade {
    margin-right: -3px;
}

.gradelabel {
    margin-right: 30px;
}

.interest {
    margin-right: -3px;
}

.interestlabel {
    margin-right: 25px;
}

textarea {
    resize: none;
    border: 0px;
    width: 100%;
    
}

.btnCancel {
    margin-right: 10px;
}